<nav>
    <ul>
      <li *ngIf="!loginService.isAuthenticated">
        <a routerLink="/register">Register</a>
      </li>
      <li *ngIf="!loginService.isAuthenticated">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="loginService.isAuthenticated">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <!-- <li *ngIf="!(loginService.isAuthenticated)">
        <a routerLink="/login">Login</a>
      </li> -->
      <li *ngIf="loginService.isAuthenticated">
        <a routerLink="/logout">Logout</a>
      </li>
      <li *ngIf="loginService.isAuthenticated">
       <span>Welcome, {{ loginService.userName }}!</span>
      </li>
    </ul>
  </nav>
  