
<div *ngIf="error" class="error">{{ error }}</div>

<div class="dashboard-container">
    <h1>Dashboard</h1>
    <p *ngIf="loginService.isAuthenticated">Welcome to your dashboard!</p>
    <p *ngIf="!loginService.isAuthenticated">Please log in to view this page.</p>
  
    <div *ngIf="loginService.isAuthenticated">
      <!-- Tabs -->
      <div class="tabs">
        <ul class="tab-list">
          <li 
            (click)="activeTab = 'policies'" 
            [class.active]="activeTab === 'policies'">
            My Policies
          </li>
          <li 
            (click)="activeTab = 'profile'" 
            [class.active]="activeTab === 'profile'">
            My Profile
          </li>
        </ul>
      </div>
  
      <!-- Tab Content -->
      <div class="tab-content">
        <div *ngIf="activeTab === 'policies'">
            <p *ngIf="!policies.length">You have no policies.</p>
            <p *ngIf="policies.length">Here are your policies:</p>
            <!-- Display policies here -->
            <div class="policy-grid">
              <div 
                class="policy-card" 
                *ngFor="let policy of policies" 
                (click)="viewPolicyDetails(policy)">
                <p><strong>Policy Name:</strong> {{ policy.policyName }}</p>
                <p><strong>Policy Number:</strong> {{ policy.policyNumber }}</p>
              </div>
            </div>
        </div>
        <div *ngIf="activeTab === 'profile'">
          <p><strong>Name:</strong> {{ userProfile.name }}</p>
          <p><strong>Email:</strong> {{ userProfile.email }}</p>
          <p><strong>Phone:</strong> {{ userProfile.phoneNumber }}</p>
          <p><strong>DOB:</strong> {{ userProfile.dob }}</p>
        </div>
      </div>
    </div>
  </div>
  